body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* header styles */

.header, 
.content {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

li {
    list-style-type: none;
}

a,
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

#image-header {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.top-button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    text-align: center;
    padding: 5px 20px;
    border-radius: 8px;
    margin-top: 15px;
}

/* header flex*/

.header,
ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

 .content, 
 .header {
    display: flex;
    padding: 0px 100px 100px;
    justify-content: space-between;
    align-items: center;
 }

 .content {
    display: flex;
    gap: 200px;
 }

img {
    height: 300px;
    width: 300px;
}

.images {
    display: flex;
    flex-wrap: wrap;
}