body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* header styles */

.header, 
.content {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

li {
    list-style-type: none;
}

a,
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}


.top-button,
.bottom-button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    text-align: center;
    padding: 5px 20px;
    border-radius: 8px;
    margin-top: 15px;
}

.awsome {
    width: 400px;
}
 /* center styles */

img {
    height: 220px;
    width: 220px;
    border-radius: 25px;
    border: 10px solid #3882f6;
}

#image-header {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: none;
}

.images {
    gap: 50px;
}

.random-text {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 50px;
}

.caption {
    text-align: center;
    margin-top: 10px;
}
/* header flex*/

.header,
ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

 .content, 
 .header {
    display: flex;
    padding: 0px 100px 100px;
    justify-content: space-between;
    align-items: center;
 }

 .content {
    display: flex;
    gap: 50px;
 }


/* information flex*/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px 100px
}

.image {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
    gap: 25px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*quote */
.quote {
    background-color: #e5e7eb;
    padding:  100px 200px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: end;
}

.author {
    text-align: end;
}

/* button section */

.button {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    border-radius: 10px;
}

.bottom-button {
    border: 3px solid #f9faf8
}

/* footer */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 25px;
    text-align: center;
}