body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* header styles */

.header, 
.content {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

li {
    list-style-type: none;
}

a,
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}


.top-button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    text-align: center;
    padding: 5px 20px;
    border-radius: 8px;
    margin-top: 15px;
}
 /* center styles */

img {
    height: 220px;
    width: 220px;
    border-radius: 25px;
    border: 10px solid #3882f6;
}

#image-header {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: none;
}

.images {
    gap: 50px;
}

.random-text {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 50px;
}

.caption {
    text-align: center;
    margin-top: 10px;
}
/* header flex*/

.header,
ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

 .content, 
 .header {
    display: flex;
    padding: 0px 100px 100px;
    justify-content: space-between;
    align-items: center;
 }

 .content {
    display: flex;
    gap: 200px;
 }



/* information flex*/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px 100px
}

.image {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
    gap: 25px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}